<div id="page-cont">
	<div class="container contact-container">
		<h1>Contact me:</h1>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="https://www.facebook.com/simjes" target="_blank"><img src="img/contact/fb.svg" width="130" height="130"></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="https://no.linkedin.com/in/simjes" target="_blank"><img src="img/contact/in.svg" width="130" height="130"></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="https://github.com/simjes" target="_blank"><img src="img/contact/github.svg" width="130" height="130"></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="mailto:simjes91@me.com"><img src="img/contact/mail.svg" width="130" height="130"></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="https://play.google.com/store/apps/developer?id=Simjes" target="_blank"><img src="img/contact/android.svg" width="130" height="130"></a>
		</div>
	</div>
</div>