<div id="page-cont">
	<div class="container contact-container">
		<h1>Contact me:</h1>
		<div class="row">
			<div class="col s12 m6 l4">
				<div class="card-panel hoverable">
					<a href="https://www.facebook.com/simjes" target="_blank"><img src="img/contact/fb.svg" width="130" height="130"></a>
				</div>
			</div>
			<div class="col s12 m6 l4">
				<div class="card-panel hoverable">
					<a href="https://no.linkedin.com/in/simjes" target="_blank"><img src="img/contact/in.svg" width="130" height="130"></a>
				</div>
			</div>
			<div class="col s12 m6 l4">
				<div class="card-panel hoverable">
					<a href="https://github.com/simjes" target="_blank"><img src="img/contact/github.svg" width="130" height="130"></a>
				</div>
			</div>
			<div class="col s12 m6 l4">
				<div class="card-panel hoverable">
					<a href="mailto:simjes91@me.com"><img src="img/contact/mail.svg" width="130" height="130"></a>
				</div>
			</div>
			<div class="col s12 m6 l4">
				<div class="card-panel hoverable">
					<a href="https://play.google.com/store/apps/developer?id=Simjes" target="_blank"><img src="img/contact/android.svg" width="130" height="130"></a>
				</div>
			</div>
		</div>
	</div>
</div>