<div id="page-cont">
	<div class="container">
		<div *ng-for="#project of projects.projects">
			<div class="card hoverable">
				<div class="card-content">
					<span class="card-title black-text">{{project.title}}</span>
					<div class="row">
						<div class="col s12 m4">
							<div class="row center">
								<img class="circle z-depth-1 responsive-img" src="{{project.icon}}" width="130" height="130">
							</div>
							{{project.description}}
						</div>
						<div class="col s12 m8">
							<div class="row">
								<div class="col s6 m4 l2 z-depth-1" *ng-if="project.pictures.img_1">
									<img class="materialboxed responsive-img" [src]="project.pictures.img_1">
								</div>
								<div class="col s6 m4 l2 z-depth-1" *ng-if="project.pictures.img_2">
									<img class="materialboxed responsive-img" [src]="project.pictures.img_2">
								</div>
								<div class="col s6 m4 l2 z-depth-1" *ng-if="project.pictures.img_3">
									<img class="materialboxed responsive-img" [src]="project.pictures.img_3">
								</div>
								<div class="col s6 m4 l2  z-depth-1" *ng-if="project.pictures.img_4">
									<img class="materialboxed responsive-img" [src]="project.pictures.img_4">
								</div>
								<div class="col s6 m4 l2 z-depth-1" *ng-if="project.pictures.img_5">
									<img class="materialboxed responsive-img" [src]="project.pictures.img_5">
								</div>
								<div class="col s6 m4 l2 z-depth-1" *ng-if="project.pictures.img_6">
									<img class="materialboxed responsive-img" [src]="project.pictures.img_6">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-action center">
					<span *ng-if="project.links.code"><a href="{{project.links.code}}" target="_blank">Source code</a></span>
					<span *ng-if="project.links.youtube"><a href="{{project.links.youtube}}" target="_blank">Youtube</a></span>
					<span *ng-if="project.links.app_store"><a href="{{project.links.app_store}}" target="_blank">App store</a></span>
					<span *ng-if="project.links.play_store"><a href="{{project.links.play_store}}" target="_blank">Google Play</a></span>
				</div>
			</div>
		</div>
	</div>
</div>