<div id="page-cont">
	<div class="container">
		<div *ng-for="#project of projects.projects">
			<div class="card hoverable">
				<div class="card-image blue accent-2">
					<img class="circle" src="{{project.icon}}" width="150" height="150">
					<span class="card-title">{{project.title}}</span>
				</div>

				<div class="card-content">
					<div class="row">
						<div class="col s12">
							{{project.description}}
						</div>
					</div>
					<!-- dynamic number of images -->
					<div *ng-if="isNotEmpty(project.pictures)" class="row center gallery">
						<a href="#{{project.title}}1">
							<img class="img-box" [src]="project.pictures.img_1">
						</a>
						<a href="#/Portfolio" class="lightbox" id="{{project.title}}1">
							<img class="img-box" [src]="project.pictures.img_1">
						</a>
						<a href="#{{project.title}}2">
							<img class="img-box" [src]="project.pictures.img_2">
						</a>
						<a href="#/Portfolio" class="lightbox" id="{{project.title}}2">
							<img class="img-box" [src]="project.pictures.img_2">
						</a>
						<a href="#{{project.title}}3">
							<img class="img-box" [src]="project.pictures.img_3">
						</a>
						<a href="#/Portfolio" class="lightbox" id="{{project.title}}3">
							<img class="img-box" [src]="project.pictures.img_3">
						</a>
						<a href="#{{project.title}}4">
							<img class="img-box" [src]="project.pictures.img_4">
						</a>
						<a href="#/Portfolio" class="lightbox" id="{{project.title}}4">
							<img class="img-box" [src]="project.pictures.img_4">
						</a>
						<a href="#{{project.title}}5">
							<img class="img-box" [src]="project.pictures.img_5">
						</a>
						<a href="#/Portfolio" class="lightbox" id="{{project.title}}5">
							<img class="img-box" [src]="project.pictures.img_5">
						</a>
						<a href="#{{project.title}}6">
							<img class="img-box" [src]="project.pictures.img_6">
						</a>
						<a href="#/Portfolio" class="lightbox" id="{{project.title}}6">
							<img class="img-box" [src]="project.pictures.img_6">
						</a>
					</div>
				</div>
				<div class="card-action center" *ng-if="isNotEmpty(project.links)">
					<span *ng-if="project.links.code"><a href="{{project.links.code}}" target="_blank">Source code</a></span>
					<span *ng-if="project.links.youtube"><a href="{{project.links.youtube}}" target="_blank">Youtube</a></span>
					<span *ng-if="project.links.app_store"><a href="{{project.links.app_store}}" target="_blank">App store</a></span>
					<span *ng-if="project.links.play_store"><a href="{{project.links.play_store}}" target="_blank">Google Play</a></span>
				</div>
			</div>
		</div>
	</div>
</div>