$primary-text-color: #FFFFFF;
$secondary-text-color: #000000;

$primary-material-text: rgba(0, 0, 0, 0.87);
$secondary-material-text: rgba(0, 0, 0, 0.54);

$primary-design-color: #009688;
$accent-design-color: #448AFF;
$hairline-color: rgba(0, 0, 0, 0.12);

footer {
  padding-top: 10px;
  text-align: center;
  background-color: $primary-design-color;

  p {
    color: $primary-text-color;
  }
}

#page-cont {
  margin-top: 100px;
  margin-bottom: 20px;
  color: $primary-material-text;
  
  a:link,
  a:visited,
  a:hover,
  a:active  {
    color: $secondary-text-color;
  }
  
  a:hover {
    color: $primary-design-color;
    text-decoration: underline;
  }
  
  h1 {
    color: $secondary-text-color;
  }
}

.home {
  background-image: url('../img/stock-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: 3em;
  text-align: center;
  color: $primary-text-color;
  
  button {
    width: 200px;
    height: 50px;
  }
}

.portfolio-center {
  text-align: center;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

hr {
  border-color: $hairline-color;
  background-color: $hairline-color;
  color: $hairline-color;
}

.portfolio-align {
    text-align: center;
 }

@media (max-width: 768px) {
  .portfolio-xs-align {
    text-align: center;
    display: inline-block;
    float: none;
  }
  
  .circle-xs-align {
    display: block;
    margin: 10px auto;
  }
}

@media (min-width: 768px) {
  .circle-sm-align {
    float: right;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

.img-box {
  display : inline-block; 
  float: none;
  margin: 6px;
  height: 90px;
  width: 90px;
}

.img-container {
  text-align: center;
}

.contact-container {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  
  div {
    margin-bottom: 60px;
  }
}