$primary-text-color: #FFFFFF;
$secondary-text-color: #000000;

$primary-material-text: rgba(0, 0, 0, 0.87);
$secondary-material-text: rgba(0, 0, 0, 0.54);

$primary-design-color: #009688;
$accent-design-color: #448AFF;
$hairline-color: rgba(0, 0, 0, 0.12);


.nav-circle {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

footer {
  text-align: center;
  position:fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
  color: $primary-text-color;
}

.home {
  margin-top:-40px;
  background-image: url('../img/stock-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  //fix height
  height: 95vh;
  text-align: center;
  color: $primary-text-color;
  
  div {
    position: relative;
    top: 40%;
    transform: translateY(-40%)
  }
  
  a {
    width: 200px;
  }
}

.router-buttons {
  //fix margin-top on scale?
  margin-top: 30px;
  text-align: center;
  
  div {
    margin: 0 10px;
    float: none;
    display: inline-block;
  }
}

.contact-container {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  
  div {
    margin-bottom: 60px;
  }
}


//============= old code

#page-cont {
  margin-top: 70px;
  margin-bottom: 70px;
  color: $primary-material-text;
  
  a:link,
  a:visited,
  a:active  {
    color: $secondary-text-color;
  }
  
  a:hover {
    color: $primary-design-color;
  }
}

.img-box {
  margin: 7px;
  height: 90px;
  width: 90px;
}